body,
html {
    font-family: 'Ubuntu', sans-serif;
}

h1 {
    text-align: center;
    font-size: 4rem;
}

main {
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 1000px;
    margin: auto;
}

.inputs {
    display: flex;
    flex-direction: column;
    width: 400px;
    padding: 0 20px;
}

.inputs>div {
    width: 100%;
}

.container {
    background-color: white;
    display: grid;
    width: 600px;
    height: 600px;
    margin-right: auto;
}

.cell {
    border: 1px solid black;
    box-sizing: content-box;
}

#length {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    gap: 20px;
}

#length-input {
    flex-grow: 1;
}

#length-text {}