body,
html {
    font-family: 'Ubuntu', sans-serif;
    background-color: #F6F4EB;
}

h1 {
    text-align: center;
    font-size: 4rem;
}

main {
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 1000px;
    margin: auto;
}

button {
    height: 3rem;
    background-color: #749BC2;
    border-color: #4682A9;
    border-style: solid;
    border-radius: 8px;
}

.selected {
    background-color: #91C8E4;
}

.inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    padding: 0 20px;
}

.inputs>div {
    width: 100%;
}

.inputs>* {
    margin: 0 auto;
}

.container {
    background-color: white;
    display: grid;
    width: 600px;
    height: 600px;
    margin-right: auto;
}

.cell {
    border: 1px solid black;
    box-sizing: content-box;
}

#length {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    gap: 20px;
}

#length-input {
    flex-grow: 1;
}

#length-text {}

#color-input {
    width: 40px;
    height: 40px;
    padding: 0px;
    border: 0px;
}

#generator-selecor {
    display: flex;
    justify-content: center;
    gap: 20px;
}

#generator-selecor>button {
    flex-grow: 1;
    flex-basis: 50px;
}